## Convert gff to json

In [1]:
%%bash
python ../scripts/funannotate_gff_to_json.py ../data/interim/Gekko_gecko_LN22022_2_UTR.gff3 ../data/interim/Gekko_gecko_LN22022_2_UTR.json

## Manipulate json dictionary

In [2]:
import pandas as pd

In [3]:
df = pd.read_json("../data/interim/Gekko_gecko_LN22022_2_UTR.json")
df = df.T
df

,seqid,source,type,start,end,score,strand,phase,attributes
0,scaffold_1,funannotate,gene,23059,42286,.,+,.,{'ID': 'OMA14_000001'}
1,scaffold_1,funannotate,mRNA,23059,42286,.,+,.,"{'ID': 'g1.t1', 'Parent': 'OMA14_000001', 'Dbx..."
2,scaffold_1,funannotate,exon,23059,23118,.,+,.,"{'ID': 'g1.t1.exon1', 'Parent': 'g1.t1'}"
3,scaffold_1,funannotate,exon,23295,23421,.,+,.,"{'ID': 'g1.t1.exon2', 'Parent': 'g1.t1'}"
4,scaffold_1,funannotate,exon,28596,28718,.,+,.,"{'ID': 'g1.t1.exon3', 'Parent': 'g1.t1'}"
...,...,...,...,...,...,...,...,...,...
441440,scaffold_3882,funannotate,CDS,602,1207,.,+,0,"{'ID': 'g16371.t1.cds', 'Parent': 'g16371.t1'}"
441441,scaffold_3948,funannotate,gene,334,564,.,-,.,{'ID': 'OMA14_016379'}
441442,scaffold_3948,funannotate,mRNA,334,564,.,-,.,"{'ID': 'g16379.t1', 'Parent': 'OMA14_016379', ..."
441443,scaffold_3948,funannotate,exon,334,564,.,-,.,"{'ID': 'g16379.t1.exon1', 'Parent': 'g16379.t1'}"
441444,scaffold_3948,funannotate,CDS,334,564,.,-,0,"{'ID': 'g16379.t1.cds', 'Parent': 'g16379.t1'}"

In [4]:
### switch gene id with name
# iterate over table index
for i in df.index:
    # search for ID and name attribute for gene type features
    attributes = df.loc[i, "attributes"]
    if df.loc[i, "type"] == "gene":
        if 'Name' in attributes.keys():
            # get original attribute value
            original_ID = attributes["ID"]
            original_Name = attributes["Name"]
            # switch value
            df.loc[i, "attributes"]["ID"] = original_Name
            df.loc[i, "attributes"]["Name"] = original_ID
df.loc[[i for i in df.index if 'Name' in df.loc[i, "attributes"].keys()]]

,seqid,source,type,start,end,score,strand,phase,attributes
22,scaffold_1,funannotate,gene,272055,318085,.,-,.,"{'ID': 'TARS2', 'Name': 'OMA14_000004'}"
60,scaffold_1,funannotate,gene,335396,426234,.,-,.,"{'ID': 'RPRD2_1', 'Name': 'OMA14_000005'}"
88,scaffold_1,funannotate,gene,432521,473468,.,-,.,"{'ID': 'PRPF3_1', 'Name': 'OMA14_000006'}"
153,scaffold_1,funannotate,gene,479575,495212,.,-,.,"{'ID': 'MRPS21', 'Name': 'OMA14_000007'}"
163,scaffold_1,funannotate,gene,560005,611614,.,+,.,"{'ID': 'CA14', 'Name': 'OMA14_000009'}"
...,...,...,...,...,...,...,...,...,...
441381,scaffold_3047,funannotate,gene,4834,5703,.,+,.,"{'ID': 'L1TD1_15', 'Name': 'OMA14_016280'}"
441409,scaffold_3368,funannotate,gene,1578,4799,.,-,.,"{'ID': 'SURF4_2', 'Name': 'OMA14_016323'}"
441417,scaffold_3394,funannotate,gene,1,2004,.,-,.,"{'ID': 'PCDHB1_4', 'Name': 'OMA14_016324'}"
441421,scaffold_3475,funannotate,gene,1232,1366,.,+,.,"{'ID': 'mig-6_1', 'Name': 'OMA14_016328'}"
441437,scaffold_3882,funannotate,gene,602,1207,.,+,.,"{'ID': 'HSPB9_3', 'Name': 'OMA14_016371'}"

## Export modified table to json

In [5]:
df.T.to_json("Gekko_gecko_LN22022_2_UTR_modified.json")

## Convert json to gff

In [6]:
%%bash
python ../scripts/funannotate_json_to_gff.py Gekko_gecko_LN22022_2_UTR_modified.json Gekko_gecko_LN22022_2_UTR_modified.gff3